html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#applicationDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#viewDiv {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  order: 1;
}

#titleDiv {
  font-weight: 400;
  font-style: normal;
  font-size: 1.5019rem;
  padding: 10px;
}

#sliderContainer {
  flex: 0 0 80px;
  order: 2;

  display: flex;
  flex-flow: row;

  padding: 0 12px;
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  font-size: 300%;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#slider {
  width: 100%;
}
/**
* Play/Stop toggle button
*/

#playButton {
  flex: 0 0 100px;
  order: 3;

  margin: 20px 0;
}

.toggle-button {
  display: flex;
}

.toggle-button.toggled .toggle-button-icon {
  color: #cc1b1b;
}

.toggle-button .toggle-button-icon {
  color: #1bcc1b;
}

.toggle-button > :nth-child(2) {
  display: none;
}

.toggle-button.toggled > :nth-child(1) {
  display: none;
}

.toggle-button.toggled > :nth-child(2) {
  display: block;
}
/**
  * Hover tooltip
  */

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: opacity 200ms;
}

.tooltip > div {
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
  transform: translate3d(-50%, -125%, 0);
}

/* Filter Styling */
#landUse-filter {
  /* flex: 0 0 200px; */
  height: 200px;
  width: 185px;
  background-color: gray;
  visibility: hidden;
}

.landUse-item {
  /* flex: 0 0 200px; */
  width: 185px;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}

.landUse-item:focus {
  background-color: dimgrey;
}

.landUse-item:hover {
  background-color: dimgrey;
}

.landUse-item:target {
  background-color: dimgrey;
}

#popChartCanvas {
  background-color: rgba(30, 30, 30, 0.9);
}

/* ESRI STYLING OVERRIDES */

/* width of legend */
div.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-width: 175px;
  background-color: rgba(30, 30, 30, 0.75);
}

/* Collapsible Sidebar */
/* The sidepanel menu */
/* .sidepanel {
  height: 350px; Specify a height
  width: 0;  width - change this with JavaScript
  position: fixed; /*Stay in place*/
/* z-index: 1; Stay on top */
/* top: 0; */
/* right: 0; */
/* background-color: #818181; Black */
/* overflow-x: hidden; Disable horizontal scroll */
/* padding-top: 60px; Place content 60px from the top */
/* transition: 0.5s; 0.5 second transition effect to slide in the sidepanel */
/* } */

/* The sidepanel links */
/*.sidepanel a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/*.sidepanel a:hover {
  color: #f1f1f1;
}*/

/* Position and style the close button (top right corner) */
/* .sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Options Panel */
#optionsPanel {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 10px 15px;
  border: 2px solid dimgray;
}

/*****************/
/* ON/OFF TOGGLE BUTTON
/*****************/
.togSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cityLimToggle {
  display: flex;
  align-items: center;
}

.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toggle input {
  display: none;
}

.toggle .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: sans-serif;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.toggle .labels::after {
  content: attr(data-notChecked);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #4d4d4d;
  background-color: gray;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-checked);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: calc(var(--width) * -1);
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #4fe132;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
  transform: translateX(var(--width));
}

.toggle input:checked ~ .labels::before {
  transform: translateX(var(--width));
}

/**********************/
/*SIDEBAR*/
/**********************/

* {
  margin: 0;
  padding: 0;
}

#popChartPanel {
  margin: 0px 10px 10px 10px;
}

#sidebarToggler {
  color: rgba(255, 255, 255, 0.75);
}

.sidebar {
  height: 85%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  padding-top: 60px;
  /* padding-right: 10px; /*makes black bar because pushes 10 px of the panel into the view all the time */
  transition: 0.5s;
  overflow-x: hidden;
  color: #f1f1f1;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar.is-opened {
  /* width: 250px; */
  /* Full width */
  width: 25%;
  margin: 10px;
  text-align: center;
}

/* .sidebar.is-opened + .main { */
/* Sidebar overlay */
/* margin-left: 250px; */
/* Move main */
/* transition: margin-left 0.5s; */
/* Hide main */
/* background: rgba(0, 0, 0, 0.4); */
/* } */

.sidebar .closeSidebarButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  cursor: pointer;
}

.sidebar .closeSidebarButton:hover {
  color: #f1f1f1;
}

.toggler {
  font-size: 30px;
  cursor: pointer;
}

.main {
  height: 100vh;
  padding: 25px;
}
