html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#applicationDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#viewDiv {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  order: 1;
}

#titleDiv {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2019rem;
  padding: 10px;
}

#sliderContainer {
  flex: 0 0 80px;
  order: 2;

  display: flex;
  flex-flow: row;

  padding: 0 12px;
}

#sliderValue {
  flex: 0 0 100px;
  order: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  font-size: 300%;
}

#sliderInnerContainer {
  flex: 1 1 auto;
  order: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#slider {
  width: 100%;
}
/**
* Play/Stop toggle button
*/

#playButton {
  flex: 0 0 100px;
  order: 3;

  margin: 20px 0;
}

.toggle-button {
  display: flex;
}

.toggle-button.toggled .toggle-button-icon {
  color: #cc1b1b;
}

.toggle-button .toggle-button-icon {
  color: #1bcc1b;
}

.toggle-button > :nth-child(2) {
  display: none;
}

.toggle-button.toggled > :nth-child(1) {
  display: none;
}

.toggle-button.toggled > :nth-child(2) {
  display: block;
}
/**
  * Hover tooltip
  */

.tooltip {
  position: absolute;
  pointer-events: none;
  transition: opacity 200ms;
}

.tooltip > div {
  margin: 0 auto;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.75);
  transform: translate3d(-50%, -125%, 0);
}

/* Filter Styling */
#landUse-filter {
  /* flex: 0 0 200px; */
  height: 200px;
  width: 185px;
  background-color: gray;
  visibility: hidden;
}

.landUse-item {
  /* flex: 0 0 200px; */
  width: 185px;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}

.landUse-item:focus {
  background-color: dimgrey;
}

.landUse-item:hover {
  background-color: dimgrey;
}

.landUse-item:target {
  background-color: dimgrey;
}

#popChartPanel {
  background-color: rgba(30, 30, 30, 0.75);
}

/* ESRI STYLING OVERRIDES */

/* width of legend */
div.esri-component.esri-legend.esri-widget.esri-widget--panel {
  max-width: 175px;
  background-color: rgba(30, 30, 30, 0.75);
}

/* Collapsible Sidebar */
/* The sidepanel menu */
/* .sidepanel {
  height: 350px; Specify a height
  width: 0;  width - change this with JavaScript
  position: fixed; /*Stay in place*/
/* z-index: 1; Stay on top */
/* top: 0; */
/* right: 0; */
/* background-color: #818181; Black */
/* overflow-x: hidden; Disable horizontal scroll */
/* padding-top: 60px; Place content 60px from the top */
/* transition: 0.5s; 0.5 second transition effect to slide in the sidepanel */
/* } */

/* The sidepanel links */
/*.sidepanel a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 25px;
  color: whitesmoke;
  display: block;
  transition: 0.3s;
} */

/* When you mouse over the navigation links, change their color */
/*.sidepanel a:hover {
  color: #f1f1f1;
}*/

/* Position and style the close button (top right corner) */
/* .sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
